<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<link rel="stylesheet" type="text/css" href="temp4.css"/>
<title>template</title>
</head>

<body style="background-image:url(images/free-vector-grey-technology-background.jpg)">

<div class="container">
<div class="topbar">
<span class="topd" style="color:#0F3; margin-left:5px;">E-mail:</span>info@theappstation.net &nbsp;&nbsp; 
<span style="color:#0F3; margin-left:5px; margin-top:10px;">phone no:</span>021-36990045
</div>
<!---start menu--->
<div class="menu">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="about_us.html">About Us</a></li>
<li><a href="courses.html">Products</a></li>
<li><a href="contact us.html">Contact Us</a></li>
</ul>
</div>
<!---end menu--->
<!---start header--->
<div class="header">
<img src="../photoshop editing/header.jpg"/>
</div>
<!---end header--->
<!---start div--->
<div class="co_bk">
<h1 class="co_h1">Courses</h1>
<div class="about_p">
</div>
<!---end div--->
<!--start table--->
<table cellpadding="25px">
    <tr>
       <td>
        <div class="co_1">
           <img src="images/pdseee.jpg"  width="350px" height="200px"/>
          <h1 class="co_p">Profesional Deploma In Software Engenniering</h1>
          <p class="co_p">Introduction to Open Source Technologies, Web Development Using PHP, Using CodeIgnitor, Project Web Development - Php & MySql, Search Engine Optimization (seo), Mobile Application Development, Andriod Application Development</p></div></td>
      <td>
       <div c class="co_1">
       <img src="images/pdseee.jpg"  width="350px" height="200px"/>
       <h1 class="co_p">Profesional Deploma In Software Engenerring II</h1>
       <p class="co_p">Introduction to DotNet Technology, WinForms Application Development, Windows Store Apps, Web Development Using ASP.Net - MVC, Windows Phone Application Development, S.E Principles, Software Project Management</p></div></td>
      <td>
       <div class="co_1">
            <img src="images/dseeee.jpg"  width="350px" height="200px"/>
            <h1 class="co_p">Deploma In Software Engenerring</h1>
            <p class="co_p">C Language, Markup Language & JSON, Object Oriented Programming, Java Programming Language, Desktop Applications in Java, Web Development, Web Programming Language, E-Commerce</p></div></td>
    </tr>
       <td>
        <div class="co_1">
             <img src="images/cseee.jpg"  width="350px" height="200px"/>
             <h1 class="co_p">Certificate In Software Engenerring</h1>
             <p class="co_p">MS-OFFICE, Web Designing(HTML5, CSS3, Javascript, Dreamweaver, Bootsrtap, Responsive Design, Photoshop, Wordpress), Database, Basic Programing Concepts</p></div></td>
       <td>
        <div class="co_1">
            <img src="images/WEB_DESIGN.jpg"  width="350px" height="200px"/>
            <h1 class="co_p">Web Dessigning</h1>
            <p class="co_p">HTML5, CSS3, Javascript, Dreamweaver, Bootsrtap & Responsive Design
creates the look, layout, and features of a website. The job involves understanding both graphic design and computer programming.</p></div></td>
       <td>
        <div class="co_1">
           <img src="images/web-development-in-pakistan.jpg" width="350px" height="200px"/>
           <h1 class="co_p">Web Development</h1>
           <p class="co_p">PHP/ASP.NET,My SQL Server, MVC 
Creating and maintaining websites. It includes aspects such as web design, web programming, and database management Web development includes many types of web content creation.</p></div></td>
</table>
<!--end table--->


<!---start container--->
<div class="container">
<!---start footer--->
<div class="footer">

     <table class="ftr-tbl">
        <tr>
        <td><img src="../../Users/asp.APPSTATION/Desktop/logo (1).png" /> 
        </td>
        </tr>
        <tr>
        <td class="frt-p">
        <p class="frt-p">The App Station is the state-of-the-art IT institute with a focus on cutting edge technology and its implementation. We cover major technologies like HTML 5, Java, DOTNET, PHP and ANDROID.</p>
        </td>
        </tr>
        </td>
</table>
   <table class="table_2">
	<tr><th><h1 style="color:#FF0">Useful-Link</h1></th></tr>
    <tr><td><li>Home</li></td></tr>
	<tr><td><li>About Us</li></td></tr>
	<tr><td><li>Programs</li></td></tr>
	<tr><td><li>Registrations</li></td></tr>
	<tr><td><li>Contact Us</li></td></tr>
</table>
</table>
   <table class="table_3">
	<tr><th><h1 style="color:#FF0">Contact</h1></th></tr>
    <tr><td><li>The App Station, A-901, 1st Floor, Sector 11-A Saleem Center Near Shell Petrol Pump, Karachi-Pakistan</li></td></tr>
	<tr><td> <li>+92-21-36990045</li></td></tr>
	<tr><td><li>info@theappstation.net</li></td></tr>	
</table> 
   <table class="table-4"> 
       <td> <img src="images/md_5ac8796dde965.png" width="200px"; height="200px";/></td>
</table> 
</div>
<!---end footer--->
</div>
<!---end container--->
</body>
<!--end body--->
</html>
