@charset "utf-8";
/* CSS Document */

.div
{ height:400px;
 width:400px;
 }
.h1
{ font-family: Georgia, "Times New Roman", Times, serif;
font-size:36px;
color:#06F;
text-align:center;
padding-top:
}
.p
{ font-family:"Arial Black", Gadget, sans-serif;
font-size:13px;
color:#000;
padding-top:-20px;
text-align:center;
} 
.td
{ height:30px;
width:380px;
border-radius:10px;

}
.td1
{ width:350px;
height:60px;
border-radius:10px;}
.td2
{ width:200px;
height:25px;
background-color:# 666;
color:#333;
border-radius:10px;}
