@charset "utf-8";
/* CSS Document */
.container
{ width:1200px;
 height:auto;
 margin-left:auto;
 margin-right:auto;
	}
.topbar
{ width:auto;
height:50px;
background-color:#960;
padding-top:15px;
padding-left:15px;
}
.menu
{width:auto;
height:50px;
background-color:#09C;
}
.header
{width:auto;
height:150px;
background-color:#0C6;
}
.jquery
{width:1200px;
height:500px;
background-color:#666;
}
.sidebar
{width:300px;
height:520px;
background-color:#066;
float:left;
}
.content1
{width:450px;
height:300px;
background-color:#60C;
float:left;

}
.content2
{width:450px;
height:300px;
background-color:#993;
float:left;

}
.content3
{width:450px;
height:300px;
background-color:#99F;
float:left;

}
.content4
{width:450px;
height:300px;
background-color:#03F;
float:left;

}	
.footer
{width:auto;
height:290px;
background-color:#0C9;
clear:both;
}
.topd
{float:left;
font-family:Verdana, Geneva, sans-serif;
color:#FFF;
font-size:16px;
}
.h2
{text-align:center;
color:#fff;
font-size:60px;
display:block;
background-color:#0C3;
}
.h3
{text-align:center;
color:#fff;
font-size:30px;
display:block;
background-color:#0C3;

}
.h4
{text-align:center;
color:#0CF;
font-size:30px;
display:block;
}
.img1
{width:200px;
height:200px;
display:block;
margin-left:auto;
margin-right:auto;
}
.p1
{color:#096;
text-align:center;
display:block;
font-family:Verdana, Geneva, sans-serif;
font-size:30px;
}
.img2
{width:200px;
height:220px;
display:block;
margin-left:auto;
margin-right:auto;
}
.img3
{width:100px;
height:100px;
display:block;
margin-left:auto;
margin-right:auto;
}
.img4
{width:150px;
height:150px;
display:block;
margin-left:auto;
margin-right:auto;
}

ul{ list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:#09F;
}
li{ float:left;
}
li a{ display:block;
color:#FFF;
text-align:center;
padding:14px 16px;
text-decoration:none;
}
li a:hover{ background-color:#0FF;
color:#000;
 }
.info-bar
{ width:100%;
height:50px;
background-color: #999;
color: #FFF;
font-family:"Times New Roman", Times, serif;
text-align:center;
line-height:50px;
}
.frt-p{width:200px;
margin-top:0px;
color:#FFF;
}

.ftr-tbl
{ margin-left:20px;
padding-top:20px;
}
.frt-p{
width:200px;
margin-top:0px;
color:#FFF;	
}
 .table_2
{margin-left:350px;
margin-top:-250px;
color:#FFF;
}
.table_3
{margin-left:600px;
margin-top:-200px;
width:180px;
color:#FFF;
}
.table-4{ margin-left:920px;
margin-top:-200px;
padding-bottom:50px;	
}
.about_bk{ width:auto;
height:350px;
background-image: url(images/6571399-pc-wallpaper.jpg);
margin-top:-35px;

 }
.about_h1{ text-align:center;
font-family:Verdana, Geneva, sans-serif;
color:#FFF;
line-height:350px;
text-shadow: 5px 5px 5px #333333;
background-color:rgba(0 ,0 ,0 , 0.5);
font-size:50px;
}
.about_p{ font-weight:bold;
font-size:24px;
text-align:center;
text-shadow: 4px 4px 4px #fff;
}
.table_img1
{ width:300px;
height:300px;


}
.table_img2
{ width:300px;
height:300px;
padding-left:145px;

}
.table_img3
{ width:300px;
height:300px;
padding-left:143px;
}
.co_bk{ width:auto;
height:350px;
background-image: url(images/0658725187d59ec.jpg);
margin-top:-35px;

 }

.co_h1{ text-align:center;
font-family:Verdana, Geneva, sans-serif;
color:#FFF;
line-height:350px;
text-shadow: 5px 5px 5px #333333;
background-color:rgba(0 ,0 ,0 , 0.5);
font-size:50px;
}
.co_p{ font-weight:bold;
font-size:18px;
text-align:center;
text-shadow: 4px 4px 4px #fff;
margin-left:10px;
}
.co_1
{ width:350px;
height:400px;
background-color:#F0EEEF;
text-align:center;
box-shadow:5px 5px 5px #000000;
}
.con_bk{ width:auto;
height:350px;
background-image: url(images/banner_08contact_a_2560X1093-min.jpg);
margin-top:-35px;

 }
.sliding_news
{ width:auto;
height:40px;
line-height:40px;
background-color:#C00;
color:#FFF;
	
	}
.div
{ height:400px;
 width:400px;
 background-color:rgba(255, 255, 255, 0.75);
 border-radius:15px;
 border:3px solid #06f;
float:left;
margin-bottom:20px;
 }
.h1
{ font-family: Georgia, "Times New Roman", Times, serif;
font-size:36px;
color:#06F;
text-align:center;
padding-top:
}
.p
{ font-family:"Arial Black", Gadget, sans-serif;
font-size:13px;
color:#000;
padding-top:-20px;
text-align:center;
} 
.td
{ height:30px;
width:380px;
border:1px solid #06F;


}
.td1
{ width:375px;
height:60px;
border-color:#06F;
}
.td2
{ width:380px;
height:40px;
background-color:#06F;
color:#fff;
font-size:22px;

}

.div1
{ width:750px;
height:390px;
background-color:#999;
float:right;
margin-top:-25px;
	
	
	
	}





