<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script>
var x =5;
var y =6;
var xy=x+y;
document.write(xy);
var x=5;
document.write(x);
var x=6;
document.write(x);

var b=427;
var e=600;
var d=100;
var c=b/e*d;
document.write("obtain marks"+b+"<br>");
document.write("total marks"+e+"<br>")
document.write("percentage"+c+"<br>");

var g=10;
var h=15;
var i=100;
document.write(g+h+"<br>")
document.write(g/h+"<br>")
document.write(g-h+"<br>")
document.write(g/h*i+"<br>")
document.write(g*h+"<br>")
</script>


</head>

<body>
</body>
</html>
