<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <center>
  <h1>Table Of 2</h1>
  <table cellpadding="5">
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>1</h2></td><td><h2>=</h2></td><td><h2>2</h2></td></tr>
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>2</h2></td><td><h2>=</h2></td><td><h2>4</h2></td></tr>
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>3</h2></td><td><h2>=</h2></td><td><h2>6</h2></td></tr>
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>4</h2></td><td><h2>=</h2></td><td><h2>8</h2></td></tr>
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>5</h2></td><td><h2>=</h2></td><td><h2>10</h2></td></tr>
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>6</h2></td><td><h2>=</h2></td><td><h2>12</h2></td></tr>
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>7</h2></td><td><h2>=</h2></td><td><h2>14</h2></td></tr>
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>8</h2></td><td><h2>=</h2></td><td><h2>16</h2></td></tr>
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>9</h2></td><td><h2>=</h2></td><td><h2>18</h2></td></tr>
     <tr><td><h2>2</h2></td><td><h2>x</h2></td><td><h2>10</h2></td><td><h2>=</h2></td><td><h2>20</h2></td></tr>
  </table>
</center>
</body>
</html>
