<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<img src="../images/car3.jpg" id="pic"/>
<button onclick="abc()">change image</button>
<script>
 function abc(){
	 
document.getElementById('pic').src='car1.jpg';	 
	 
window.alert("thanks,your msg has been receaved");	 
	 
	 }
 
 
 
 
</script>



</body>
</html>
