<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<script>
var a= parseInt(window.prompt("enter your 1st value"));
var b= parseInt(window.prompt("enter your 2nd value"));
var c= window.prompt("enter your operator");
if(c=="+"){

document.write(a+b);	 	 
	 }
else if(c=="/"){
	
	document.write(a/b);
}	 
else if(c=="-"){
	
	document.write(a-b);
}	 
else if(c=="*"){
	
	document.write(a*b);
}	 
else{
	
	window.alert("please enter correct operator");
	
	
	}	 
	 
	 
	 
	 

</script>
</body>
</html>
