<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<h1 id="val" style="font-size:36px;color:#0F5;font-family:Arial, Helvetica, sans-serif;"></h1>



<script>
var x=["abdullah","the","app","station"];


document.write(x[0]+"<br>"+x[1]+x[2]+x[3]);

document.getElementById('val').innerHTML=x[0]+"<br>"+x[1]+x[2]+x[3];


</script>
</body>
</html>
