<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script>
var x=2;
document.write("2x1="+x*1+"<br>")
document.write("2x2="+x*2+"<br>")
document.write("2x3="+x*3+"<br>")
document.write("2x4="+x*4+"<br>")
document.write("2x5="+x*5+"<br>")
document.write("2x6="+x*6+"<br>")
document.write("2x7="+x*7+"<br>")
document.write("2x8="+x*8+"<br>")
document.write("2x9="+x*9+"<br>")
document.write("2x10="+x*10+"<br>")

</script>

</head>

<body>
</body>
</html>
