<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
h1{font-family:Arial, Helvetica, sans-serif; color:#0CF;};


</style>
</head>

<body>
<center>
<h1 id="val"></h1>
<h1 id="val1"></h1>
<h1 id="val2"></h1>
<h1 id="val3"></h1>
<script>
var value1 = window.prompt("what is your first semester name?");
document.getElementById('val').innerHTML = value1;
var value2 = window.prompt("what is your second semester name?");
document.getElementById('val1').innerHTML = value2;
var value3 = window.prompt("what is your third semester name?");
document.getElementById('val2').innerHTML = value3;
var value4 = window.prompt("what is your fourth semester name?");
document.getElementById('val3').innerHTML = value4;
</script>
</center>
</body>
</html>
