<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->
<link rel="stylesheet" href="temp4.css"/>
<title>template</title>
</head>

<body style="background-image:url(images/free-vector-grey-technology-background.jpg)">

<div class="container">
<div class="topbar">
<span class="topd" style="color:#0F3; margin-left:5px;">E-mail:</span>info@theappstation.net &nbsp;&nbsp; 
<span style="color:#0F3; margin-left:5px; margin-top:10px;">phone no:</span>021-36990045
</div>
<div class="menu">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="about_us.html">About Us</a></li>
<li><a href="courses.html">Courses</a></li>
<li><a href="contact us.html">Contact Us</a></li>
</ul>
</div>
<div class="header">
<img src="../photoshop editing/header.jpg"/>
</div>
<span class="h2">THE APP STATION</span>
<span class="h3">INSTITUTE OF INFORMATION TECHNOLOGY</span>

<div class="sliding_news">
<marquee scrollamount="10"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</marquee>

</div>
<div class="jquery container">
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><a href="http://wowslider.com"><img src="data1/images/jquery_img.jpg" alt="jquery image gallery" title="jquery img" id="wows1_0"/></a></li>
		<li><img src="data1/images/jquery.jpg" alt="jquery" title="jquery" id="wows1_1"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="jquery img"><span><img src="data1/tooltips/jquery_img.jpg" alt="jquery img"/>1</span></a>
		<a href="#" title="jquery"><span><img src="data1/tooltips/jquery.jpg" alt="jquery"/>2</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wordpress slideshow</a> by WOWSlider.com v7.8</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
</div>
<div class="container">
<div class="sidebar">
<img src="../photoshop editing/Side_bar.jpg"/>
</div>
<div class=" info-bar">OUR SPECIAL COURSES</div>
<div class="content1">
<img src="../photoshop editing/content1.jpg"/>
</div>
<div class="content2">
<img src="../photoshop editing/c sharp.jpg"/>
</div>
<div class="content3">
<img src="images/photoshop.jpg"/>
</div>
<div class="content4">
<img src="images/.jpg"/>
</div>
<div class="footer">
 

     <table class="ftr-tbl">
        <tr>
        <td><img src="BootStrap/logo (1).png" /> 
        </td>
        </tr>
        <tr>
        <td class="frt-p">
        <p class="frt-p">The App Station is the state-of-the-art IT institute with a focus on cutting edge technology and its implementation. We cover major technologies like HTML 5, Java, DOTNET, PHP and ANDROID.</p>
        </td>
        </tr>
        </td>
      </table>
   <table class="table_2">
	<tr><th><h1 style="color:#FF0">Useful-Link</h1></th></tr>
    <tr><td><li>Home</li></td></tr>
	<tr><td><li>About Us</li></td></tr>
	<tr><td><li>Programs</li></td></tr>
	<tr><td><li>Registrations</li></td></tr>
	<tr><td><li>Contact Us</li></td></tr>
  </table>
</table>
   <table class="table_3">
	<tr><th><h1 style="color:#FF0">Contact</h1></th></tr>
    <tr><td><li>The App Station, A-901, 1st Floor, Sector 11-A Saleem Center Near Shell Petrol Pump, Karachi-Pakistan</li></td></tr>
	<tr><td> <li>+92-21-36990045</li></td></tr>
	<tr><td><li>info@theappstation.net</li></td></tr>	
</table> 
<table class="table-4"> 
<td> <img src="BootStrap/md_5ac8796dde965.png" width="200px"; height="200px";/></td>
 </table>      
        
        
        
</div>

</div>
</div>

</body>
</html>
