<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="test footer.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <center>
   <div class="footer">
   
   
   <table>
     <tr>
       <td class="ftr">
        <img src="images/logo (1).png"/>
     </td>
     </tr>
     <tr>
       <td class="ftr-p">
        <p class="ftr-p">The App Station is the state-of-the-art IT institute with a focus on cutting edge technology and its implementation. We cover major technologies like HTML 5, Java, DOTNET, PHP and ANDROID.</p>
     </td>
    </tr>
    <tr>
      <td class="ftr_ul">Useful_links
       <p class="a_hover"><a href="#"/><li>Registration</li></p>
       <p class="a_hover"><a href="#"/><li>Courses</li></p>
        <p class="a_hover"><a href="#"/><li>Events</li></p>
      </td>
      </tr>
       </table>
   <table class="ftr_co">    
   <tr >
   <th><h1 style="color:#FF0">Contact</h1></th></tr>
    <tr>
    <td class="ftr_co"><li>The App Station, A-901, 1st Floor, Sector 11-A Saleem Center Near Shell Petrol Pump, Karachi-Pakistan</li></td>
    </tr>
	<tr>
    <td class="ftr_co"> <li>+92-21-36990045</li></td>
    </tr>
	<tr>
    <td class="ftr_co"><li>info@theappstation.net</li></td>
    </tr>
   
   
   </table>
   <table>
     <tr>
     <td class="ftr_img">
      <img src="images/sm_5ab35e2e64030.png"/>
     
     </td>
     </tr>
   
   </table>
   
   
   </div>
</center>



</body>
</html>
