<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h2 style="text-decoration:line-through;">THE APP STATION</h2>
<h2 style=" text-decoration:overline;">THE APP STATION</h2>
<h2 style="text-decoration:underline;">THE APP STATION</h2>

<ul type="circle">
<li>CAI</li>
<li>TIGER</li>
<li>LION</li>
<li>ELEPHANT</li>
</ul>
<ul type="disc">
<li>CAI</li>
<li>TIGER</li>
<li>LION</li>
<li>ELEPHANT</li>
</ul>
<ul type="square">
<li>CAI</li>
<li>TIGER</li>
<li>LION</li>
<li>ELEPHANT</li>
</ul>


<ol type="1">
<li>cofee</li>
<li>tea</li>
<li>milk shake</li>
<li>soft drink</li>
</ol>
<ol type="a">
<li>cofee</li>
<li>tea</li>
<li>milk shake</li>
<li>soft drink</li>
</ol>
<ol type="A">
<li>cofee</li>
<li>tea</li>
<li>milk shake</li>
<li>soft drink</li>
</ol>
<ol type="i">
<li>cofee</li>
<li>tea</li>
<li>milk shake</li>
<li>soft drink</li>
</ol>
<ol type="I">
<li>cofee</li>
<li>tea</li>
<li>milk shake</li>
<li>soft drink</li>
</ol>


</body>
</html>
