<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CSS Form Style</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <form method="post" action="">

  <h3 id="logo">Log In</h3>

  <label for="username">Username</label>
  <input type="text" id="username" name="username" placeholder="Type in your username.." autocomplete="off" required />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" placeholder="Enter your password.." autocomplete="off" required />

  <a class="forgot" href="#">Forgot Password?</a>
  <a class="register" href="#">Register</a>

  <input type="submit" onClick="check()" name="submit" value="Log In" />

</form>
  
  

    <script>
    

function check(){
	
var usr= "hassaan";
var pass= "hassaankhan";
	
var a=document.getElementById('username').value;
var b=document.getElementById('password').value;

if(a == usr && b == pass){
	 
	 alert("login successfully");
}
	 else if(a!==usr && b!== pass){
		 
		 alert("please enter correct value");
	}
	 
     else if(a!==usr){
	 alert("please enter your correct username");
	}
     else if(b!== pass){
	 alert("please enter your correct password");
	}
	 else if(a==""){
		
		
		alert("please enter correct value");
		
	}
     else if(b==""){
		
		
		alert("please enter correct value");
		
	}
else {
	
	alert("please enter correct value");
	
}

}
    
</script>




</body>

</html>
